extends templates/_layout

block vars
    - var title = '序文';
    - var bodyclass = 'content rtl';

block epubBody
    div.header.header-preface
        h1.title=title
    article.content.content--script.content-preface.clearfix
        p
            | 語り手は「私」。時は明治末期。
            | 夏休みに鎌倉由比ヶ浜に海水浴に来ていた「私」は、同じく来ていた「先生」と出会い、
            | 交流を始め、東京に帰ったあとも先生の家に出入りするようになる。
            | 先生は奥さんと静かに暮らしていた。
            | 先生は毎月、雑司ヶ谷にある友達の墓に墓参りする。先生は私に何度も謎めいた、そして教訓めいたことを言う。
            | 私は、父の病気の経過がよくないという手紙を受け取り、冬休み前に帰省する（第二十一章から二十三章）。
            | 正月すぎに東京に戻った私は、先生に過去を打ち明けるように迫る。
            | 先生は来るべきときに過去を話すことを約束した（第三十一章）。
            | 大学を卒業した私は先生の家でご馳走になったあと、帰省する。
